<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>ㅁㄴㅇㄹ</h1>
    <h2 th:text="${student.name}"></h2>
    <a href="java">java</a>
    <a href="test">test</a>
    <a href="/">index</a>
    <form method="post" action="/">
        <input type="text" name="name" />
        <input type="number" name="age" />
        <input type="submit" value="추가" />
    </form>
    <div th:each="stu: ${list}" style="border: 1px solid blue">
        <h2 th:text="${stu.name + '　' + stu.age}"></h2>
    </div>
</body>
</html>